### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [125]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [120]:
# takes the length of the list of unique players in the dataset

total_players_count = len(purchase_data["SN"].unique())
print(f"Total Player Count: {total_players_count}")

Total Player Count: 577

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [121]:
# takes the length of the list of unique items in the dataset
unique_item_count = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = len(purchase_data["Purchase ID"].unique())
total_revenue = purchase_data["Price"].sum()

summary_pa_df = pd.DataFrame({

    "Number of Unique Items" : [unique_item_count],
    "Average Price" : average_price,
    "Number of Purchases" : number_of_purchases,
    "Total Revenue" : total_revenue
})

#formatting
summary_pa_df["Average Price"] = summary_pa_df["Average Price"].map("${:.2f}".format)
summary_pa_df["Total Revenue"] = summary_pa_df["Total Revenue"].map("${:.2f}".format)

summary_pa_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     180         $3.05                  781      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [122]:
#make a dataframe of unique players by dropping duplicate SN's
unique_players_list = purchase_data.drop_duplicates(subset="SN")
# Create male,female,other counts
player_male = unique_players_list["Gender"].value_counts()["Male"]
player_female = unique_players_list["Gender"].value_counts()["Female"]
player_other = unique_players_list["Gender"].value_counts()["Other / Non-Disclosed"]

#format into percentages, 2 decimal places
p_player_male = "{:.2%}".format(player_male/total_players_count)
p_player_female = "{:.2%}".format(player_female/total_players_count)
p_player_other = "{:.2%}".format(player_other/total_players_count)

gender_summary_table = {

    "Total Count" : {"Male" : player_male, "Female" : player_female, "Other / Non-Disclosed" : player_other},
    "Percentage of Players" : {"Male" : p_player_male, "Female" : p_player_female, "Other / Non-Disclosed" : p_player_other}

}
#summary table

gender_summary_df = pd.DataFrame(gender_summary_table)

gender_summary_df

                       Total Count Percentage of Players
Male                           484                83.88%
Female                          81                14.04%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [123]:
# Variables - data frame of each gender
purchases_male = purchase_data[purchase_data["Gender"] == "Male"]
purchases_female = purchase_data[purchase_data["Gender"] == "Female"]
purchases_other = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]

#purchase count
pc_male =  purchases_male["Purchase ID"].count()
pc_female =  purchases_female["Purchase ID"].count()
pc_other = purchases_other["Purchase ID"].count()

#Average purchase price
mean_pp_male = purchases_male["Price"].mean()
mean_pp_female = purchases_female["Price"].mean()
mean_pp_other = purchases_other["Price"].mean()

#total purchase value
total_pv_male = purchases_male["Price"].sum()
total_pv_female = purchases_female["Price"].sum()
total_pv_other = purchases_other["Price"].sum()

#grouped by SN, then find the average of the sum of all purchases
grouped_sn_male = purchases_male.groupby(by="SN")["Price"].sum().mean()
grouped_sn_female = purchases_female.groupby(by="SN")["Price"].sum().mean()
grouped_sn_other = purchases_other.groupby(by="SN")["Price"].sum().mean()

pa_gender_table = {

    "Gender" : ["Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count" : [pc_female,pc_male,pc_other],
    "Average Purchase Price" : [mean_pp_female,mean_pp_male,mean_pp_other],
    "Total Purchase Value" : [total_pv_female,total_pv_male,total_pv_other],
    "Avg Total Purchase per Person" : [grouped_sn_female, grouped_sn_male,grouped_sn_other]
}
    # "Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"
pa_gender_summary = pd.DataFrame(pa_gender_table)

# formatting
pa_gender_summary["Average Purchase Price"] = pa_gender_summary["Average Purchase Price"].map("${:.2f}".format)
pa_gender_summary["Total Purchase Value"] = pa_gender_summary["Total Purchase Value"].map("${:.2f}".format)
pa_gender_summary["Avg Total Purchase per Person"] = pa_gender_summary["Avg Total Purchase per Person"].map("${:.2f}".format)
#print and hide index
pa_gender_summary.style.hide_index()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [216]:
#creating bins
age_group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40 +"]
age_group_bins = [0,9,14,19,24,29,34,39,200]


# create bins out of the unique players DF
unique_players_list["Age Ranges"] = pd.cut(unique_players_list["Age"],age_group_bins,labels=age_group_names,include_lowest=True)

#counts number of users in group with group by
grouped_table = unique_players_list.groupby("Age Ranges").count()

#create summary age demo table, the age column is effectively a count of all users in that age group
grouped_table["Total Count"] = grouped_table["Age"]
grouped_table["Percentage of Players"] = grouped_table["Age"] / total_players_count

#summary table consisting of count and percentage
summary_age_demo_df = pd.DataFrame(grouped_table[["Total Count", "Percentage of Players"]])
#formatting percentage column
summary_age_demo_df["Percentage of Players"] = summary_age_demo_df["Percentage of Players"].map("{:.2%}".format)
summary_age_demo_df

            Total Count Percentage of Players
Age Ranges
< 10                 17                 2.95%
10-14                22                 3.81%
15-19               107                18.54%
20-24               258                44.71%
25-29                77                13.34%
30-34                52                 9.01%
35-39                31                 5.37%
40 +                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame